* {
    padding: 0px;
    margin: 0px;
}

p {
    color: green;
}

article {
    float: left;
    width: 50%;
}

img {
    width: 50%;
}

@media screen and (max-width: 400px) {
    img {
        clear: both;
        width: 100%;
    }
}
