
div{
    display: inline-block;
}

.container {
    width: 100%;
    background-color:aliceblue;

}

.absolute {
    width: 5rem;
    height: 5rem;
    margin: 2rem;
    background-color: red;
    position: relative;

}

.down {
    position: relative;
    top: 2rem;
}

.absolute div {
    height: 30px;
    width: 30px;
    background-color: blue;
    position: absolute;
    bottom: 0;
    right: 0;
}

div:hover {
    background-color: blueviolet !important;
}

div:nth-child(2n+1){
    height: 10rem;
}
.container div:not(:last-child){
    background-color: aqua;
}
.container .absolute:last-child::after {
    content: 'AR';
    height: 20px;
    width: 20px;
    background-color: bisque;
}